<li id="entry-<%= entry.id %>">
	<%= link_to gravatar_for(entry.user), entry.user %>
	<span class="display_title">
		<%= link_to entry.title, entry %> 
		<b>by <%= link_to entry.user.name, entry.user%></b>
	</span>
	<span class="content">
		<%= content_str(entry.content) %>
		 <%= image_tag entry.picture.url if entry.picture? %>
	</span>
	<span class="timestamp">
		Posted At <%= entry.created_at.localtime.strftime('%m/%d/%Y - %H:%M:%S')%> - <%=link_to pluralize(entry.comments.count, "comment"), entry_path(entry, :anchor=>"entry_comments") %>
		<% if current_user?(entry.user) %>
			<%= link_to "delete", entry, method: :delete, class: "text-danger", 
			data: {confirm: 'Are you sure?'}%>
		<% end %>
	</span>
</li>